@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --global-space: 20px;

  color: #525252;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;

  background-color: #242424;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen
and (max-width: 580px) {
  :root {
    --global-space: 16px;
  }
}

*,
:after,
:before {
  box-sizing:inherit;
  margin:0;
  padding:0;
  line-height:1.5;
  overflow-anchor:none
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #d1d0d9;
}

a, a[href]:hover, button, button[href]:hover {
  text-decoration: none;
  cursor: pointer;
}

.loader {
  display: inline-block;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0%  {box-shadow: 20px 0 #242424, -20px 0 #0002;background: #242424 }
  33% {box-shadow: 20px 0 #242424, -20px 0 #0002;background: #0002}
  66% {box-shadow: 20px 0 #0002,-20px 0 #242424; background: #0002}
  100%{box-shadow: 20px 0 #0002,-20px 0 #242424; background: #242424 }
}